.SystemService {
    display: flex;

    height: 100%;
    width: auto;

    gap: 1rem;

    padding: 1rem;

    animation-name: sweep ;
    animation-iteration-count: 1;
    animation-duration: .5s;
}

