.AppAppend .FormGroup {
    display: grid;
    grid-template-columns: 30% 70%;

    font-size: 1rem;

    & input,
    & select {
        border-radius: 8px;
        margin: 5px;
        padding: 4px;

        font-size: 1rem;
    }
}

.AppAppend_inner {
    display: flex;
    filter: invert(1); 
}

.AppAppend_text {
    display: none;
    margin-right: .2rem;
    color: rgb(var(--text), .8);
}

.AppAppend:hover .AppAppend_text {
    display: flex;
    justify-content: center;
    align-items: center
}

.AppAppend-main {
    display: flex;
    flex-direction: column;
}

.AppAppend-main label {
    display: flex;
    flex-direction: column;
}

.AppAppend-main p {
    text-align: center;
    margin: 0;
}

.AppAppend-main input {
    min-width: 200px;
    max-width: 400px;

    border-radius: .5rem;
    padding: .2rem;
}