.ExitButton {
    margin-top: auto;
    margin-bottom: 10px;
    cursor: pointer;

    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(var(--window-element));
    color: rgb(var(--text-invert));
    transition: all .2s ease-in-out;

    &:hover {
        background-color: brown;
    }
}