@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
}

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

/* Fonts presets */

@font-face {
    font-family: 'JB-Bold';
    font-style: normal;
    src:  url("../fonts/JetBrainsMono-Bold.woff2") format('woff2')
}


body {
    font-family: 'JB-Bold', sans-serif;

    color: var(--text);

    font-size: 18px;
}

/* Color pallete ==================== */

* {

    /* Windows color */
    --body-bg: rgb(0, 0, 0);
    --window-bg: white;

    --body-bg-trans-80: rgba(0, 0, 0, 0.8);
    --body-bg-trans-50: rgba(0, 0, 0, 0.5);
    --body-bg-trans-30: rgba(0, 0, 0, 0.3);

    --window-bg-trans-80: rgba(255, 255, 255, 0.8);
    --window-bg-trans-50: rgba(255, 255, 255, 0.5);
    --window-bg-trans-30: rgba(255, 255, 255, 0.3);
    
    /* Text vars */
    --text: aliceblue;
    --text-dark: rgb(0, 0, 0);
    --text-smooth: rgb(130, 141, 148);
    --text-error: rgb(156, 15, 15);
    --text-accent: rgb(236, 165, 10);
    --text-link: rgb(7, 102, 180);

    /* Background colors */
    --window-bg: rgb(226, 226, 226);
    --window-bg-smooth: rgb(179, 179, 179);

    /* Decoration */
    --window-shadow: rgba(255, 255, 255, 0.6);
    --button-shadow-white: white;
    --button-shadow-dark: black;

    /* Bars and metrics color */
    --bar-color1-min: purple;
    --bar-color1-max: rgb(220, 0, 220);

    --bar-color2-min: green;
    --bar-color2-max: rgb(0, 220, 0);

    --bar-color3-min: rgb(0, 125, 125);
    --bar-color3-max: rgb(0, 220, 220);
}

/* Main ==================== */