html {
    margin: 0.3em;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Fonts presets */

@font-face {
    font-family: 'JB-Bold';
    font-style: normal;
    src:  url("../fonts/JetBrainsMono-Bold.woff2") format('woff2')
}

@font-face {
    font-family: 'JB-Light';
    font-style: normal;
    src:  url("../fonts/JetBrainsMono-Light.woff2") format('woff2')
}


body {
    font-family: 'JB-Bold', sans-serif;
}

.LightFont {
    font-family: 'JB-Light', sans-serif;
}

/* Color pallete ==================== */

* {

    font-size: 18px;

    /* Windows color */
    --body-bg: rgb(0, 0, 0);
    --window-bg: white;

    /* Text vars */
    --text: aliceblue;
    --text-smooth: rgb(130, 141, 148);
    --text-error: rgb(156, 15, 15);
    --text-accent: rgb(236, 165, 10);
    --text-link: rgb(7, 102, 180);

    /* Background colors */
    --window-bg: rgb(226, 226, 226);
    --window-bg-smooth: rgb(179, 179, 179);

    /* Decoration */
    --window-shadow: rgba(255, 255, 255, 0.6);
    --button-shadow-white: white;
    --button-shadow-dark: black;

    /* Bars and metrics color */
    --bar-color1-min: purple;
    --bar-color1-max: rgb(220, 0, 220);

    --bar-color2-min: green;
    --bar-color2-max: rgb(0, 220, 0);

    --bar-color3-min: rgb(0, 125, 125);
    --bar-color3-max: rgb(0, 220, 220);
}

/* Main ==================== */

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

#app-root {
    display: flex;
    gap: 1em;

    width: 100%;
    height: 100%;

    background-color: var(--body-bg);

    padding: 0.8rem;
}

#ServicesContainer {
    width: 50%;
    height: 100%;

    transition-property: opacity, display;
    transition-duration: 0.25s;
}

.ServiceBlock {
    height: 90%;
}

#DataContainer {
    width: 50%;
    height: 100%;

    transition: all 0.25s;
    transition: all 0.25s allow-discrete;
}

#DataContainer-wrapper {
    display: flex;
    flex-direction: column;

    
    width: 100%;
    height: 100%;

    gap: 1em;
}

@media (orientation: portrait) {
    * {
        font-size: 18px;
    }



    #DataContainer {
        width: 100%;
    }

    #ServicesContainer {
        width: 100%;
    }

    #swapBtn {
        display: block;
    }

    .display-On-Phone {
        animation-duration: 0.5s;
        animation-name: swapHeight;

        animation-iteration-count: 1;
        animation-direction: normal;
    }

    .display-Off-Phone {
        display: none;
        opacity: 0;

        animation-duration: 0.5s;
        animation-name: swapHeight;
        
        animation-iteration-count: 1;
        animation-direction: reverse;
    }
}

@keyframes swapHeight {
    from    { height: 0%;   scale: .5; }
    to      { height: 100%; scale: 1; }
}

.UPonDisplay {
    animation-duration: 0.5s;
    animation-name: swapScale;
    
    animation-iteration-count: 1;
    animation-direction: normal;
}

.DOWNonDisplay {
    animation-duration: 0.5s;
    animation-name: swapScale;
    
    animation-iteration-count: 1;
    animation-direction: reverse;
}

@keyframes swapScale {
    from    { scale: .1; }
    to      { scale: 1; }
}

@keyframes swapWidth {
    from    { width: 0%; }
    to      { width: 100%; }
}