.SystemdTable {
    background-color: rgb(var(--window-element), .6);
    border-radius: .5rem;
    width: calc(100% - 20px);

    margin: 10px;
}

.SystemdTable hr {
    width: 100%;
}

.SystemdTable-main{
    display: grid;
    grid-template-columns: 30% 30% 30%;

    width: 100%;
    height: 100%;

    overflow-y: auto;
}

.SystemdTable-title {
    padding: .2rem;
    margin: 0;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: var(--body-bg-trans-50);
    border-radius: .5rem .5rem 0 0;
}