.DeviceContainer {
    display: flex;
    background-color: var(--window-bg-trans-50);
    border-radius: .5rem;
    padding: .2rem;
    gap: .5rem;
    margin-bottom: .5rem;
    padding: .5rem;

    width: auto;

    margin-left: .5rem;
    margin-right: .5rem;
}

.DeviceContainer-logo {
    display: flex;

    flex-direction: column;

    width: 20%;
    height: 100%;

    background-color: var(--body-bg-trans-50);

    gap: .2rem;

    padding: .2rem;

    border-radius: .5rem;

    font-size: 1.2rem;
}

.DeviceContainer-info {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: .2rem;

    vertical-align: middle;

    align-items: center;
    justify-content: center;
}

.DeviceContainer-info_text {
    background-color: var(--body-bg-trans-80);
    border-radius: .5rem;



    width: 100%;

    overflow: hidden;

    color: var(--text);

    font-size: 1rem;


    text-align: left;
}

.DeviceContainer-info_text strong {
    background-color: var(--window-bg);
    color: var(--text-dark);
    width: 60%;

    padding-left: 1rem;
    text-align: left;

    border-radius: 0 0 .2rem .2rem;
}

.DeviceContainer-commands {

    width: 20%;
    display: flex;
    flex-direction: column;
}

.Status-green {


    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 1.2rem;

    text-align: center;
    color: green;

    background-color: var(--body-bg-trans-80);

    margin: 0px;

    border-radius: .5rem;
}

.Status-red {


    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 1.2rem;

    text-align: center;
    color: red;

    border-radius: .5rem;

    background-color: var(--body-bg-trans-80);

    margin: 0px;
}

@media (orientation: portrait) {
    .DeviceContainer {
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    .DeviceContainer-logo {
        width: 60%;
    }
    .DeviceContainer-info {
        width: 100%;
    }
    .DeviceContainer-commands {
        width: 100%;
    }

    .DeviceContainer hr {
        display: none;
    }


}