.DisksList {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.DisksList-title {
    background-color: var(--body-bg-trans-50);
    color: var(--text);

    width: 100%;

    margin: .6rem;
    padding: .3rem;

    width: fit-content;

    border-radius: .5rem;
}

.DisksList-main {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    height: fit-content;
    overflow: auto;

    margin-left: auto;
    margin-right: auto;
}