.DiskContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: var(--body-bg-trans-50);

    border-radius: .5rem;
}



.DiskContainer-title {

    overflow-x: auto;
    margin: 0;
    padding: .5rem;
    width: 100%;
    height: fit-content;
    text-align: center;

    background-color: var(--body-bg-trans-50);

    border-radius: .5rem .5rem 0 0;
}

.DiskContainer-size {
    padding: .5rem;

    display: flex;
    flex-direction: column;

    gap: .5rem;
}

.DiskContainer-size-h {

    padding: .2rem;

    color: var(--text-dark);

    width: fit-content;
    margin: 0;
    background-color: var(--window-bg);

    border-radius: .3rem;
}

.DiskContainer-health-h {
    margin: 0px;
}

.DiskContainer-main {

    gap: .2rem;

    padding: .5rem;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: var(--body-bg-trans-50);

    border-radius: 0 0 .5rem .5rem;
}

.DiskContainer-param {
    background-color: var(--window-bg-trans-30);
    border-radius: .5rem;

    padding: .2rem;
    color: var(--text);
}

.DiskContainer-param strong {
    margin-right: .5rem;
}