.ProgressBar-container {
  margin: auto;
      
  background-color: "#e0e0de";
  border-radius: 1em;
}

.ProgressBar-filled {
  height: 100%;
  width: 100%;

  background-color: white;
  border-radius: inherit;

  border: 1px solid;
  transition: width 1s ease-in-out;
}

.ProgressBar-filler {
  border-radius: inherit;
}