.RemoteService {
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: 40% 60%;
}
.RemoteService-side_header {
    margin: 10px;
    padding: 1px;
    color: rgb(var(--text));
    background-color: rgb(var(--window-background));

    border-radius: 8px;
    text-align: center;

    width: calc(100% - 20px);
}